<html ng-app="exo">
    <head>
        <title>EXO</title>
        <link href="/css/font-awesome/css/font-awesome.min.css" rel="stylesheet">
        <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="/css/exo.css">
        <style>
            canvas { width: 100%; height: 100% }
        </style>
    </head>
    <body>
        <div id="top" ng-controller="AdminController">
            <a class="exo-launch-btn" ng-click="createOrbitingCraft()" href="#">Launch</a>
            <div class="exo-crafts">
                <div class="exo-craft" ng-repeat="(craftId, craft) in world.crafts">
                    <a class="exo-controlled"  ng-click="releaseControl()"    ng-if="craft==controlledCraft" href="#" >{{craft.name}} <i class="fa fa-close"></i></a>
                    <a class="exo-target"      ng-click="releaseTarget()"     ng-if="craft==target" href="#" >{{craft.name}} <i class="fa fa-circle-o"></i></a>
                    <a class="exo-targetable"  ng-click="targetCraft(craft)"  ng-if="controlledCraft && craft != controlledCraft && craft != target" href="#" >{{craft.name}} <i class="fa fa-circle"></i></a>
                    <a class="exo-controlable" ng-click="controlCraft(craft)" ng-if="!controlledCraft" href="#" >{{craft.name}} <i class="fa fa-gamepad"></i></a>
                </div>
            </div>
        </div>

        <div class="viewport"></div>

        <script src="js/lib.js"></script>
        <script src="js/exo.js"></script>
        <script>
            game = new Game();
            game.start();
        </script>
    </body>
</html>