
$primary: #00a1cb
$secondary: #61ae24
$important: #e54028
$info: #666666


*
    background: transparent

body
    margin: 0
    font-family: Roboto, Gill Sans, sans-serif

#top
    z-index: 1000
    color: white
    position: absolute

#left
    z-index: 1000
    position: absolute
    left: 0
    bottom: 0

.exo-instruments
    color: $primary

.exo-target-metrics
    color: $secondary

.exo-panel
    padding: 10px
    overflow: auto
    .exo-panel-entry
        clear: both
        .exo-label
            float: left
            width: 100px
        .exo-value
            float: left
            clear: right

.viewport
    position: absolute
    width: auto
    left: 0
    right: 0
    top: 0
    bottom: 0

@mixin exo-btn
    padding: 8px
    border-bottom: 2px solid transparent
    float: left
    text-decoration: none
    color: $info

@mixin exo-btn-active
    @include exo-btn
    border-bottom: 2px solid
    &:hover
        color: white

.exo-launch-btn
    @include exo-btn
    margin-right: 20px
    &:hover
        color: $important

.exo-crafts
    float: left
    .exo-craft
        float: left

.exo-controlled
    @include exo-btn-active
    color: $primary
    border-color: $primary

.exo-target
    @include exo-btn-active
    color: $secondary
    border-color: $secondary

.exo-targetable
    @include exo-btn
    &:hover
        color: $secondary

.exo-controlable
    @include exo-btn
    &:hover
        color: $primary